//Bulma
@use "bulma/css/bulma.css";

//Utils
@use "./utils/font.scss";
@use "./utils/mixins.scss";
@use "./utils/colors.scss";
@use "./utils/layout.scss";
@use "./utils/general.scss";
@use "./utils/animations.scss";

//Components
@use "./components/navbar.scss";
@use "./components/button.scss";
@use "./components/footer.scss";
@use "./components/list.scss";
@use "./components/card.scss";
@use "./components/scrollBar.scss";
@use "./components/pages.scss";
@use "./components/tag.scss";
@use "./components/modal.scss";
// @use "./components/oramaBox.scss";
