---
import BaseLayout from "@/layouts/BaseLayout.astro";

// TODO: Did you mean? (client-side)
//   look for same slug in other collections
//   look for similar names
---

<BaseLayout pageTitle='Error 404' pageDescription='Page not found'>
  <section class="has-text-centered mt-6">
    <h2 class="is-size-1 is-size-3-mobile">404</h2>
    <p class="is-size-3 is-size-4-mobile">Page not found</p>
  </section>
</BaseLayout>
