---
import SocialBar from "./SocialBar.astro";

const year = new Date().getFullYear();
---

<footer class="footer">
  <div class="content has-text-centered">
    <div class="mb-4 is-flex is-justify-content-center">
      <SocialBar />
    </div>
    <p style="font-size: 0.9rem; color: #888;">
      Last built: {new Date().toLocaleString()}
    </p>
    <p>
      &copy; Thomas Mays {year}
    </p>
  </div>
</footer>
