---
import { Icon } from 'astro-icon/components';
import menuOptions from '../../data/menu-options.json';
// import SearchBoxOrama from './SearchBoxOrama.vue';
import { nonEmptyCollections } from '@/content.config';

const availTypes = nonEmptyCollections;
---

<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand mt-4-desktop pt-4 mb-2 ml-2">
		<a class="navbar-item" href='/'>
			<h1 class="is-size-3 is-size-5-mobile tertiary-color f-normal">
				parsehex
			</h1>
		</a>
		<a
			role="button"
			class="navbar-burger"
			aria-label="menu"
			aria-expanded="false"
			data-target="navbar-id"
		>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navbar-id" class="navbar-menu mt-4 mb-2">
		<div class="navbar-end mr-4">
			<a href={'/'} class="navbar-item f-600 tertiary-color ">
				HOME
			</a>
			<div
				class="navbar-item is-flex is-flex-direction-column is-align-items-start p-0 mt-2 ml-3 ml-4-desktop is-justify-content-center"
			>
				<span class="is-size-7 has-text-grey f-600 mb-0 is-unselectable is-uppercase" style="line-height: 1;"
					>Things I Like</span
				>
				<div class="is-flex">
					{
						availTypes.map((option) => {
							return (
								<a
									href={'/' + option}
									class="navbar-item is-size-6 f-600 tertiary-color pl-0 pr-3 py-0"
									style="min-height: auto;"
								>
									{option.toUpperCase()}
								</a>
							);
						})
					}
				</div>
			</div>
			<div class="mt-4">
				<!-- <SearchBoxOrama client:visible /> -->

				<Icon
					class="ml-4 tertiary-color baseline-dark-mode pointer"
					size={34}
					name="gg:dark-mode"
				/>
			</div>
		</div>
	</div>
</nav>

<script>
	import { setTheme } from '../../utils/theme';

	function openBurger() {
		const $navbarBurgers = Array.prototype.slice.call(
			document.querySelectorAll('.navbar-burger'),
			0,
		);

		$navbarBurgers.forEach((element) => {
			element.addEventListener('click', () => {
				const target = element.dataset.target;
				const $target = document.getElementById(target) as HTMLElement;

				element.classList.toggle('is-active');

				$target!.classList.toggle('is-active');
			});
		});
	}

	document
		.querySelector('.baseline-dark-mode')
		?.addEventListener('click', () => setTheme());

	document.addEventListener('DOMContentLoaded', () => openBurger());
</script>

<style>
	@media (min-width: 1024px) {
		.navbar-item {
			margin-top: 0 !important;
		}
	}
</style>
